<h4 style="text-align: center; color: rgb(0, 156, 158);;">TutorDevOps</h4>
<h6 style="text-align: center;padding-top: 0.5rem;padding-bottom: 1rem;"> Please enter your email

</h6>
<div>
    <mat-form-field class="example-full-width">
        <mat-label>Email:</mat-label>
        <input matInput placeholder="Example@gmail.com" >
         
      </mat-form-field>
      <label style="color: red;font-size: small;margin-left: 3rem;">Email Required:</label>
</div>
<div style="padding-top: 1rem;">
    <button disabled class="btn btn-info" style="margin-left: 2.5rem; width:5rem" > Submit</button> 
    <button class="btn btn-danger" style="margin-left: 3.5rem;width:5rem"> cancel</button>
</div>
