<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="../.././assets/pics/HD logo.png" width="40" height="40" class="d-inline-block align-top" alt="" />
    </a>
    <span class="TDO" style="color: rgb(0, 156, 158); margin-right: auto">TutorDevOps</span>
    <div class="topnav-right">
        <a>Home</a>

    </div>
    <div class="topnav-right" style="margin-right: 0.5rem;">

        <img src="../../../assets/pics/circle-cropped.png" width="50" height="50" style="border-radius: 55px;"
            class="d-inline-block align-top" alt="" />


    </div>
</nav>


        <div style="padding-top: 2rem;padding-bottom: 1rem;">
            <div class="header">Razor Session Content</div>
        </div>

    <br>

    <button (click)="openDialog()" style="width:6rem" class="btn btn-success">Add Content</button>

    <br>

        <div style="box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
              0 6px 6px rgba(0, 0, 0, 0.23);width: 80%;margin: auto;border-radius: 15px; align-items: center;">
            <br>
            <h5 style="text-align: center;">Category: Razor</h5>
            <hr>
                <h6>Video:</h6>
                <p><i class="fa fa-file-video-o" aria-hidden="true"></i>:razor.mp4</p>
                <button style="width:6rem" class="btn btn-info" style="display: block; margin: 20px;">Watch</button>
            <br>
                <h6>Notes:</h6>
                <p><i class="fa fa-file-text-o" aria-hidden="true"></i>:razor.pdf</p>
                <button style="width:6rem" class="btn btn-info" style="display: block; margin: 20px; margin-bottom: 25px;">Download</button>

            <button (click)="confirmed()" style="align-content: center;" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</button>
            <button (click)="delete()" style="align-content: center;" class="btn btn-danger" ><i class="fa fa-trash" aria-hidden="true"></i>Delete</button>
             
        </div>

<footer>
    <nav id="foot" class="navbar  " style="width: 100%; position: absolute; bottom: 0;">
        <a class="navbar-brand" href="#">

        </a>
        <span class="TDO" style=" margin-right: auto"> &lt; TDO &gt;</span>
        <div class="topnav-right">

            <a href="#"> <i class="fa fa-facebook"></i> </a>
            <a href="#"> <i class="fa fa-instagram"></i> </a>
            <a href="#"> <i class="fa fa-twitter"></i> </a>
            <a>TutorDevOps@gmail.com</a>
        </div>
    </nav>
</footer>


