<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img
        src="../.././assets/pics/HD logo.png"
        width="40"
        height="40"
        class="d-inline-block align-top"
        alt=""
      />
    </a>
    <span class="TDO" style="color: rgb(0, 156, 158); margin-right: auto"
      >TutorDevOps</span
    >
    <div class="topnav-right">
      <a>Home</a>
      <a>About</a>
      <a>Plans</a>
      <a>Content</a>
      <a>Online Store</a>
      <a>Teach For TDO</a>
    </div>
  </nav>

  <div style="padding-top: 2rem;padding-bottom: 1rem;margin-left: 1.5rem;">
    <div class="header" style="height:2.5rem" >Plans</div>
  </div>

  <div class="row">

    <div class="col-md-4">
        <div style=" margin-top: 3rem;
        border-radius: 25px;
        background-color:rgb(44, 51, 54);
        width: 16rem;
        margin-left: 20%;
        height: 19rem;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);
        
      ">
      
       <br>
       <div style="text-align: center; width: 12rem;
       height: 2rem;margin-left: 0.5rem;">
        <h2 style="margin-left: 2.5rem;color: white;">Standard</h2>
        <hr style="width: 125%;color:white;">
       </div>
       
       <div style="text-align: center;padding-top: 1.9rem;">
           
           <div >
            <h3 style="color: white;">Price: R400</h3>
          <p style="color: white;">
            Choose This plan to get two group tutoring sessions per week for a single month from purchase.
           <br>
           <br>
            Includes: 8x Group Session tickets
            
          </p>
       
          
            
        </div>
     
           
       </div>
     
            
        </div>
    </div>
    <div class="col-md-4">
        <div style=" margin-top: 3rem;
        border-radius: 25px;
        background-color:rgb(44, 51, 54);
        width: 16rem;
        margin-left: 20%;
        height: 19rem;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);
        
      ">
      
       <br>
       <div style="text-align: center; width: 12rem;
       height: 2rem;margin-left: 0.5rem;">
        <h2 style="margin-left: 2.5rem;color: white;">Pro</h2>
        <hr style="width: 125%;color:white;">
       </div>
       
       <div style="text-align: center;padding-top: 1.9rem;">
           
           <div >
            <h3 style="color: white;">Price: R1000</h3>
          <p style="color: white;">
            Choose This plan to get one private tutoring session per week for a single month from purchase.
            
            <br>
            <br> Includes: 4x Individual Session tickets
            
          </p>
       
          
            
        </div>
        
           
       </div>
     
            
        
    </div>

    </div>
    <div class="col-md-4">
        <div style=" margin-top: 3rem;
        border-radius: 25px;
        background-color:rgb(44, 51, 54);
        width: 16rem;
        margin-left: 20%;
        height: 19rem;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);
        
      ">
      
       <br>
       <div style="text-align: center; width: 12rem;
       height: 2rem;margin-left: 0.5rem;">
        <h2 style="margin-left: 2.5rem;color: white;">Standard+</h2>
        <hr style="width: 125%;color:white;">
       </div>
       
       <div style="text-align: center;padding-top: 1.9rem;">
           
           <div >
            <h3 style="color: white;">Price: R1500</h3>
          <p style="color: white;">
            Choose This plan to get two Group tutoring session per week for three months from purchase.
            
            <br>
            <br> Includes: 24x Individual Session tickets
            
          </p>
       
          
            
        </div>
       
           
       </div>
     
            
        
    </div>

    
  </div>
  </div>
  <hr>
  <div >
    <div style=" margin-top: 3rem;
    border-radius: 25px;
    background-color:rgb(44, 51, 54);
    width: 90%;
    margin-left: 4rem;
    height: 19rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
      0 6px 6px rgba(0, 0, 0, 0.23);
    
  ">
<h2 style="color: white;text-align: center;font-size: 3rem;padding-top: 1rem;">What you get</h2>  
<div class="row">
    <div class="col-md-4">
        <p style="color: white;text-align: center;width: 11rem;margin-left: 4.5rem; border:solid;padding: 0.2rem;border-radius: 15px;">
   
            6 - 8 hours of Tutoring per month
            We offer the best value for money with our low prices..
            We have various packages to suite you particular needs.
            Our packages cover 4 - 8 hours of tutoring /month respectively at R56.25/hour
            </p>
        
    </div>
    <div class="col-md-4">
        <p style="color: white;text-align: center;width: 11rem;margin-left: 6.5rem; border:solid;padding: 0.2rem;border-radius: 15px;">
   
            As we are past IT students, we understand that life happens and you will sometimes miss the live sessions

You also receive access to live recorded sessions for the month you're subscribed for so that you may watch the videos over and over.
            </p>
        
    </div>
    <div class="col-md-4">
        <p style="color: white;text-align: center;width: 11rem;margin-left: 9.5rem; border:solid;padding: 0.2rem;border-radius: 15px;height: 13rem;">
   
            We provide you with access to all the code we develop and use in our sessions , including comments and explanations to help you understand whats going on.
            this will hel you revise all the content we have taught 

            ​
            </p>
        
    </div>

</div>
   
    
</div>

<br><br>

  <footer style="width: 100%;">
    <nav  id="foot" class="navbar ">
      <a class="navbar-brand" href="#">
       
      </a>
      <span class="TDO" style=" margin-right: auto"
        > &lt; TDO &gt;</span
      >
      <div class="topnav-right">
        
        <a href="#"> <i class="fa fa-facebook"></i> </a>
        <a href="#"> <i class="fa fa-instagram"></i> </a>
        <a href="#"> <i class="fa fa-twitter"></i> </a>
        <a>TutorDevOps@gmail.com</a>
      </div>
    </nav>
  </footer>
