<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img
        src="../.././assets/pics/HD logo.png"
        width="40"
        height="40"
        class="d-inline-block align-top"
        alt=""
      />
    </a>
    <span class="TDO" style="color: rgb(0, 156, 158); margin-right: auto"
      >TutorDevOps</span
    >
    <div class="topnav-right">
      <a>Home</a>
      <a>About</a>
      <a>Plans</a>
      <a>Content</a>
      <a>Online Store</a>
      <a>Teach For TDO</a>
    </div>
  </nav>

  <div style="padding-top: 2rem;padding-bottom: 2rem;margin-left: 1rem;">
    <div class="header" style="height:2.5rem" >Universities</div>
  </div>

  <div class="row">

    <div class="col-md-4">
        <div style=" margin-top: 3rem;
        border-radius: 25px;
        background-color: white;
        width: 16rem;
        margin-left: 20%;
        height: 19rem;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);
        
      ">
       <br>
       <div style="text-align: center; width: 12rem;
       height: 2rem;margin-left: 0.5rem;">
         <img
         src="../../../assets/pics/circle-cropped (6).png"
         width="95"
         height="95"
         style="border-radius: 55px;margin-left: 3rem;"
         class="d-inline-block align-top"
         alt=""
       />
        <hr style="width: 125%;">
       </div>
       <br>
       <br>
       <div style="text-align: center;padding-top: 2.9rem;">
           
           <div >
            <p style="font-family: Arial, Helvetica, sans-serif;"><span style="font-size: x-large;">University Of Cape Town</span> 
            <br>
            <br>
            
           <span style="font-size: large;margin-top: 0.5rem;">Modules</span>
           <br>
           COS211
           <br>
           COS301
           <br>
           BIT232
          
         </p>
            
           
         
          
            
        </div>
           
       </div>
     
            
        </div>
    </div>
    <div class="col-md-4">
    <div style=" margin-top: 3rem;
    border-radius: 25px;
    background-color: white;
    width: 16rem;
    margin-left: 20%;
    height: 19rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
      0 6px 6px rgba(0, 0, 0, 0.23);
    
  ">
   <br>
  <div style="text-align: center; width: 12rem;
       height: 2rem;margin-left: 0.5rem;">
         <img
         src="../../../assets/pics/circle-cropped (3).png"
         width="95"
         height="95"
         style="border-radius: 55px;margin-left: 3rem;"
         class="d-inline-block align-top"
         alt=""
       />
        <hr style="width: 125%;">
       </div>
       <br>
       <br>
       <div style="text-align: center;padding-top: 2.9rem;">
           
           <div >
            <p style="font-family: Arial, Helvetica, sans-serif;"><span style="font-size: x-large;">University of witwaterstrand</span> 
            <br>
           
            
            
            <br>
            
           <span style="font-size: large;margin-top: 0.5rem;">Modules</span>
           <br>
           COS2101
           <br>
           INF201
           <br>
           BIT301
           
         
          
            
        </div>
           

    </div>
    </div>

    </div>
    <div class="col-md-4">
        
    <div style=" margin-top: 3rem;
    border-radius: 25px;
    background-color: white;
    width: 16rem;
    margin-left: 18%;
    height: 19rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
      0 6px 6px rgba(0, 0, 0, 0.23);
    
  ">
  <br>
  <div style="text-align: center; width: 12rem;
       height: 2rem;margin-left: 0.5rem;">
         <img
         src="../../../assets/pics/circle-cropped (11).png"
         width="100"
         height="100"
         style="border-radius: 55px;margin-left: 3rem;"
         class="d-inline-block align-top"
         alt=""
       />
        <hr style="width: 125%;">
       </div>
       <br>
       <br>
       <div style="text-align: center;padding-top: 2.9rem;">
        <br>
           
           <div >
            <p style="font-family: Arial, Helvetica, sans-serif;"><span style="font-size: x-large;">University Of Pretoria</span> 
            <br>
           
            <br>
            
            
           <span style="font-size: large;margin-top: 0.5rem;">Modules</span>
           <br>
           COS211
           <br>
           INF254
           <br>
           INF272
          
            
        </div>
           

    </div>

  </div> 
  </div>
  </div>

  <br>
  <br>
  <footer style="width: 100%;">
    <nav  id="foot" class="navbar ">
      <a class="navbar-brand" href="#">
       
      </a>
      <span class="TDO" style=" margin-right: auto"
        > &lt; TDO &gt;</span
      >
      <div class="topnav-right">
        
        <a href="#"> <i class="fa fa-facebook"></i> </a>
        <a href="#"> <i class="fa fa-instagram"></i> </a>
        <a href="#"> <i class="fa fa-twitter"></i> </a>
        <a>TutorDevOps@gmail.com</a>
      </div>
    </nav>
  </footer>