<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img
        src="../.././assets/pics/HD logo.png"
        width="40"
        height="40"
        class="d-inline-block align-top"
        alt=""
      />
    </a>
    <span class="TDO" style="color: rgb(0, 156, 158); margin-right: auto"
      >TutorDevOps</span
    >
    <div class="topnav-right">
      <a>Home</a>
      <a>About</a>
      <a>Plans</a>
      <a>Content</a>
      <a>Online Store</a>
      <a>Teach For TDO</a>
    </div>
  </nav>
  <div style="padding-top: 2rem;padding-bottom: 1rem;">
    <div class="header" >Shop</div>
  </div>

  <div style="margin-left: 6rem;"><h1 style="text-decoration: underline;">Subscriptions</h1> 
    <span>
        <div class="input-group" style="width: 12.5rem;">
            <select class="custom-select" id="inputGroupSelect04">
              <option selected>Module</option>
              <option value="1">INF272</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <div class="input-group-append">
                <button  matTooltip="My tooltip"  class="btn btn-primary"> <i class="fa fa-search"></i></button>
            </div>
          </div>
        
    </span>
</div>

<div class="row">

    <div class="col-md-4">
        <div style=" margin-top: 3rem;
        border-radius: 25px;
        background-color:rgb(44, 51, 54);
        width: 16rem;
        margin-left: 20%;
        height: 19rem;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);
        
      ">
      
       <br>
       <div style="text-align: center; width: 12rem;
       height: 2rem;margin-left: 0.5rem;">
        <h2 style="margin-left: 2.5rem;color: white;">Standard</h2>
        <hr style="width: 125%;color:white;">
       </div>
       
       <div style="text-align: center;padding-top: 1.9rem;">
           
           <div >
            <h3 style="color: white;">Price: R400</h3>
          <p style="color: white;">
            Choose This plan to get two group tutoring sessions per week for a single month from purchase.
           <br>
           <br>
            Includes: 8x Group Session tickets
            
          </p>
       
          
            
        </div>
        <div style="margin-top: 1.1rem;">
            <button style="width: 7rem;" class="btn btn-outline-info">Login</button>
        </div>
           
       </div>
     
            
        </div>
    </div>
    <div class="col-md-4">
        <div style=" margin-top: 3rem;
        border-radius: 25px;
        background-color:rgb(44, 51, 54);
        width: 16rem;
        margin-left: 20%;
        height: 19rem;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);
        
      ">
      
       <br>
       <div style="text-align: center; width: 12rem;
       height: 2rem;margin-left: 0.5rem;">
        <h2 style="margin-left: 2.5rem;color: white;">Pro</h2>
        <hr style="width: 125%;color:white;">
       </div>
       
       <div style="text-align: center;padding-top: 1.9rem;">
           
           <div >
            <h3 style="color: white;">Price: R1000</h3>
          <p style="color: white;">
            Choose This plan to get one private tutoring session per week for a single month from purchase.
            
            <br>
            <br> Includes: 4x Individual Session tickets
            
          </p>
       
          
            
        </div>
        <div style="margin-top: 1.1em;">
            <button style="width: 7rem;" class="btn btn-outline-info">Login</button>
        </div>
           
       </div>
     
            
        
    </div>

    </div>
    <div class="col-md-4">
        <div style=" margin-top: 3rem;
        border-radius: 25px;
        background-color:rgb(44, 51, 54);
        width: 16rem;
        margin-left: 20%;
        height: 19rem;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);
        
      ">
      
       <br>
       <div style="text-align: center; width: 12rem;
       height: 2rem;margin-left: 0.5rem;">
        <h2 style="margin-left: 2.5rem;color: white;">Standard+</h2>
        <hr style="width: 125%;color:white;">
       </div>
       
       <div style="text-align: center;padding-top: 1.9rem;">
           
           <div >
            <h3 style="color: white;">Price: R1500</h3>
          <p style="color: white;">
            Choose This plan to get two Group tutoring session per week for three months from purchase.
            
            <br>
            <br> Includes: 24x Individual Session tickets
            
          </p>
       
          
            
        </div>
        <div style="margin-top: 1.1em;">
            <button style="width: 7rem;" class="btn btn-outline-info">Login</button>
        </div>
           
       </div>
     
            
        
    </div>

    
  </div>
  </div>

  <div style="padding-top: 2.5rem;margin-left: 6rem;"><h1 style="text-decoration: underline;">Short Courses</h1> 
    <span>
        <div class="input-group" style="width: 12.5rem;">
            <select class="custom-select" id="inputGroupSelect04">
              <option selected>Topic</option>
              <option value="1">Angular</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <div class="input-group-append">
                <button matTooltip="My tooltip"  class="btn btn-primary"> <i class="fa fa-search"></i></button>
            </div>
          </div>
        
    </span>
</div>

<div class="row">

    <div class="col-md-4">
        <div style=" margin-top: 2rem;
        border-radius: 25px;
        background-color:rgb(44, 51, 54);
        width: 16rem;
        margin-left: 20%;
        height: 19rem;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);
        
      ">
      
       <br>
       <div style="text-align: center; width: 12rem;
       height: 2rem;margin-left: 0.5rem;">
        <h2 style="margin-left: 2.5rem;color: white;">Components</h2>
        <hr style="width: 125%;color:white;">
       </div>
       
       <div style="text-align: center;padding-top: 1.9rem;">
           
           <div >
            <h3 style="color: white;">Price: R100</h3>
          <p style="color: white;">
           Learn how to use components with this short course.
           <br>
           <br>
            Includes: a video and notes on components
            
          </p>
       
          
            
        </div>
        <div style="margin-top: 2.3rem;">
            <button style="width: 7rem;" class="btn btn-outline-info">Login</button>
        </div>
           
       </div>
     
            
        </div>
    </div>
    <div class="col-md-4">
        <div style=" margin-top: 2rem;
        border-radius: 25px;
        background-color:rgb(44, 51, 54);
        width: 16rem;
        margin-left: 20%;
        height: 19rem;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);
        
      ">
      
       <br>
       <div style="text-align: center; width: 12rem;
       height: 2rem;margin-left: 0.5rem;">
        <h2 style="margin-left: 2.5rem;color: white;">SASS</h2>
        <hr style="width: 125%;color:white;">
       </div>
       
       <div style="text-align: center;padding-top: 1.9rem;">
           
           <div >
            <h3 style="color: white;">Price: R100</h3>
          <p style="color: white;">
            Use this short course in order to learn how to make your website look cool
            
            <br>
            <br>  Includes: a video and notes on SASS
            
          </p>
       
          
            
        </div>
        <div style="margin-top: 2.3em;">
            <button style="width: 7rem;" class="btn btn-outline-info">Login</button>
        </div>
           
       </div>
     
            
        
    </div>

    </div>
    <div class="col-md-4">
        <div style=" margin-top: 2rem;
        border-radius: 25px;
        background-color:rgb(44, 51, 54);
        width: 16rem;
        margin-left: 20%;
        height: 19rem;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);
        
      ">
      
       <br>
       <div style="text-align: center; width: 12rem;
       height: 2rem;margin-left: 0.5rem;">
        <h2 style="margin-left: 2.5rem;color: white;">Services</h2>
        <hr style="width: 125%;color:white;">
       </div>
       
       <div style="text-align: center;padding-top: 1.9rem;">
           
           <div >
            <h3 style="color: white;">Price: R1500</h3>
          <p style="color: white;">
            Learn how to use services like a pro in Angular with this short course
            
            <br>
            <br>  Includes: a video and notes on services
            
          </p>
       
          
            
        </div>
        <div style="margin-top: 1.1em;">
            <button style="width: 7rem;" class="btn btn-outline-info">Login</button>
        </div>
           
       </div>
     
            
        
    </div>

    
  </div>
  </div>

<br>
  <footer >
    <nav  id="foot" class="navbar ">
      <a class="navbar-brand" href="#">
       
      </a>
      <span class="TDO" style=" margin-right: auto"
        > &lt; TDO &gt;</span
      >
      <div class="topnav-right">
        
        <a href="#"> <i class="fa fa-facebook"></i> </a>
        <a href="#"> <i class="fa fa-instagram"></i> </a>
        <a href="#"> <i class="fa fa-twitter"></i> </a>
        <a>TutorDevOps@gmail.com</a>
      </div>
    </nav>
  </footer>
