<nav class="navbar navbar-dark bg-dark" >
    <a class="navbar-brand" href="#">
      <img
        src="../.././assets/pics/HD logo.png"
        width="40"
        height="40"
        class="d-inline-block align-top"
        alt=""
      />
    </a>
    <span class="TDO" style="color: rgb(0, 156, 158); margin-right: auto"
      >TutorDevOps</span
    >
    <div class="right" style="margin-left: 2rem;">
        <span  style="color: whitesmoke;"><i style="color: whitesmoke;" class="fa fa-ticket" aria-hidden="true"></i><i style="color: whitesmoke;" class="fa fa-ticket" aria-hidden="true"></i> x4  <i style="color: whitesmoke;margin-left: 1rem;" class="fa fa-ticket" aria-hidden="true"> </i> x3</span>
        
       
        <span style="color: whitesmoke; margin-right: 2rem;padding-left: 1.5rem;">Home</span>
        
      </div>
      <div class="topnav-right" >
      
       
        <div  class="dot" >Z</div>
    </div>
  </nav>

 
  

  <div style="padding-top: 2rem;padding-bottom: 1rem;">
    <div class="header" >All our tutors</div>
  </div>

  <nb-layout  style="width: 10rem;">
    <nb-layout-column  style="width: 10rem;" >
        <div class="row">

            <div class="col-md-4">
                <div style=" margin-top: 3rem;
                border-radius: 25px;
                background-color: white;
                width: 16rem;
                margin-left: 20%;
                height: 19rem;
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
                  0 6px 6px rgba(0, 0, 0, 0.23);
                
              ">
               <br>
               <div style="text-align: center; width: 12rem;
               height: 2rem;margin-left: 0.5rem;">
                 <img
                 src="../../../assets/pics/circle-cropped.png"
                 width="95"
                 height="95"
                 style="border-radius: 55px;margin-left: 3rem;"
                 class="d-inline-block align-top"
                 alt=""
               />
                <hr style="width: 125%;">
               </div>
               <br>
               <br>
               <div style="text-align: center;padding-top: 2.9rem;">
                   
                   <div >
                    <p style="font-family: Arial, Helvetica, sans-serif;"><span style="font-size: x-large;">Hermione Granger</span> 
                    <br>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <br>
                    HP@gmail.com
                    <br>
                 
                    
                    </p>
                    <p style="width: 13rem; margin-left: 1.5rem;">
                        <span style="text-decoration: underline;font-size: large;">About</span>
                        <br>
                        I love to program and look at cool system its my hobby
                    </p>
                 
                  
                    
                </div>
                   
               </div>
             
                    
                </div>
            </div>
            <div class="col-md-4">
            <div style=" margin-top: 3rem;
            border-radius: 25px;
            background-color: white;
            width: 16rem;
            margin-left: 20%;
            height: 19rem;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
              0 6px 6px rgba(0, 0, 0, 0.23);
            
          ">
           <br>
          <div style="text-align: center; width: 12rem;
               height: 2rem;margin-left: 0.5rem;">
                 <img
                 src="../../../assets/pics/circle-cropped (1).png"
                 width="95"
                 height="95"
                 style="border-radius: 55px;margin-left: 3rem;"
                 class="d-inline-block align-top"
                 alt=""
               />
                <hr style="width: 125%;">
               </div>
               <br>
               <br>
               <div style="text-align: center;padding-top: 2.9rem;">
                   
                   <div >
                    <p style="font-family: Arial, Helvetica, sans-serif;"><span style="font-size: x-large;">Luca Zax</span> 
                    <br>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <br>
                    COD@gmail.com
                    <br>
                 
                    
                    </p>
                    <p style="width: 13rem; margin-left: 1.5rem;">
                        <span style="text-decoration: underline;font-size: large;">About</span>
                        <br>
                       I play lots of games and hope to play competitively.
                    </p>
                 
                  
                    
                </div>
                   
        
            </div>
            </div>
        
            </div>
            <div class="col-md-4">
                
            <div style=" margin-top: 3rem;
            border-radius: 25px;
            background-color: white;
            width: 16rem;
            margin-left: 18%;
            height: 19rem;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
              0 6px 6px rgba(0, 0, 0, 0.23);
            
          ">
          <br>
          <div style="text-align: center; width: 12rem;
               height: 2rem;margin-left: 0.5rem;">
                 <img
                 src="../../../assets/pics/circle-cropped (2).png"
                 width="95"
                 height="95"
                 style="border-radius: 55px;margin-left: 3rem;"
                 class="d-inline-block align-top"
                 alt=""
               />
                <hr style="width: 125%;">
               </div>
               <br>
               <br>
               <div style="text-align: center;padding-top: 2.9rem;">
                   
                   <div >
                    <p style="font-family: Arial, Helvetica, sans-serif;"><span style="font-size: x-large;">Nick Stewart</span> 
                    <br>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <br>
                    HP@gmail.com
                    <br>
                 
                    
                    </p>
                    <p style="width: 13rem; margin-left: 1.5rem;">
                        <span style="text-decoration: underline;font-size: large;">About</span>
                        <br>
                        I enjoy long walks by the sea and coding.
                    </p>
                 
                  
                    
                </div>
                   
        
            </div>
        
          </div> 
          </div>
          </div>
        
        
    
    </nb-layout-column>
    
    </nb-layout>

  

    <footer style="width:100%; bottom: 0;position: absolute;">
      <nav  id="foot" class="navbar ">
        <a class="navbar-brand" href="#">
         
        </a>
        <span class="TDO" style=" margin-right: auto"
          > &lt; TDO &gt;</span
        >
        <div class="topnav-right">
          
          <a href="#"> <i class="fa fa-facebook"></i> </a>
          <a href="#"> <i class="fa fa-instagram"></i> </a>
          <a href="#"> <i class="fa fa-twitter"></i> </a>
          <a>TutorDevOps@gmail.com</a>
        </div>
      </nav>
    </footer>
