<h2 style="text-align: center;">Edit course content file</h2>
<hr>
<label for="formFile" class="form-label">Course content file:</label>
  <input class="form-control" type="file" id="formFile">
  <br>

  <mat-form-field appearance="outline">
    <mat-label>File Type:</mat-label>
    <mat-select>
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

 

<div style="margin-left: 2.5rem;">

  <div style="margin: auto;padding-top: 1rem;">
      <button style="width:6rem" class="btn btn-info">Submit</button>
      <button style="margin-left: 2rem;width:6rem" class="btn btn-danger">cancel</button>
  </div>

</div>

