<h5 style="text-align: center;">Edit Profile</h5>
<hr>
<form class="example-form" style="padding-top: 1.5rem;">
<div class="row">
<div class="col-md-6">

</div>

</div>

<div class="row">
    <div class="col-md-6">
        <mat-form-field class="example-full-width">
            <mat-label>First name:</mat-label>
            <input matInput placeholder="Rob" >
          </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field class="example-full-width">
            <mat-label>Surname:</mat-label>
            <input matInput placeholder="Zacker" >
          </mat-form-field>
    </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <mat-label>Username:</mat-label>
                <input matInput placeholder="Example@gmail.com" >
              </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <mat-label>Email:</mat-label>
                <input matInput placeholder="Example@gmail.com" >
              </mat-form-field>
        </div>

        
                
                    
     </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Phone number:</mat-label>
                                <input matInput placeholder="+27" >
                              </mat-form-field>
                        </div>

                    <div class="col-md-6">
                        <mat-form-field appearance="outline" style="width: 16rem;margin-left: 2.5rem;">
                            <mat-label>University</mat-label>
                            <select matNativeControl required>
                              <option value="volvo">University Of Pretoria</option>
                              <option value="saab">Individual</option>
                              
                            </select>
                          </mat-form-field>
                    </div>
                        
                        </div>

                       
                            
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" style="width: 16.5rem;margin-left: 2rem;">
                                    <mat-label>Degree</mat-label>
                                    <select matNativeControl required>
                                      <option value="volvo">Bcom Informatics</option>
                                      <option value="saab">Individual</option>
                                      
                                    </select>
                                  </mat-form-field>
                            </div>
    
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" style="width: 16rem;margin-left: 2.5rem;">
                                <mat-label>Module</mat-label>
                                <select matNativeControl required>
                                  <option value="volvo">INF214</option>
                                  <option value="saab">INF272</option>
                                  
                                </select>
                              </mat-form-field>
                        </div>
                            
                            </div>
    
   
      
     
   
    

     
           
       
     
      <br>
    
      <br>
      <br>

      <div style="margin-left: 30%;">
          <button style="width: 9rem;" class="btn btn-info">Update</button>

          <button class="btn btn-danger" style="margin-left: 1rem;width: 9rem;">Cancel</button>
      </div>
     
     
  </form>

