<nav id="adminnav" class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img
        src="../.././assets/pics/HD logo.png"
        width="40"
        height="40"
        class="d-inline-block align-top"
        alt=""
      />
    </a>
    <span class="TDO" style="color: rgb(0, 156, 158); margin-right: auto"
      >TutorDevOps</span
    >
    <div class="right">
        <a style="color: whitesmoke; margin-right: 3rem;">Home</a>
        
      </div>
    <div class="topnav-right" >
      
        <div class="topnav-right">
       
            <div class="dot" >A</div>
        </div>
    </div>
  </nav>
  
  <div style="padding-top: 2rem;padding-bottom: 2rem;">
    <div class="header" >Create Tutor</div>
  </div>
  
  <div style="box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
            0 6px 6px rgba(0, 0, 0, 0.23);width: 101%;margin: auto;border-radius: 15px;"  >
            <br>
                 
         
                <form style="margin-left: 50px; margin-right: 50px;">
                    <div class="form-group row">
                      <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
                      <div class="col-sm-10">
                        <p  class="form-control" id="inputEmail3">Sam</p>
                      </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Surname</label>
                        <div class="col-sm-10">
                          <p  class="form-control" id="inputEmail3">Johnstone</p>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                          <p type="email" class="form-control" id="inputEmail3">Sam@gmail.com</p>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Phone</label>
                        <div class="col-sm-10">
                          <p type="email" class="form-control" id="inputEmail3">061 765 2345</p>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputUser" class="col-sm-2 col-form-label">Username</label>
                        <div class="col-sm-10">
                          <input type="password" class="form-control" id="inputUser" placeholder="Username">
                        </div>
                      </div>
                    <div class="form-group row">
                      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                      <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                      </div>
                    </div>

                </form>

                    <div class="form-group row">
                        <div class="col-sm-10">
                          <button (click)="confirm()" class="btn btn-primary" style="margin-left: 50px ;" >Submit</button>
                        </div>
                      </div>
                

            <br>
  
           
  
    <footer style="bottom: 0;position:absolute;width:100%;">
      <nav  id="foot" class="navbar ">
        <a class="navbar-brand" href="#">
         
        </a>
        <span class="TDO" style=" margin-right: auto"
          > &lt; TDO &gt;</span
        >
        <div class="topnav-right">
          
          <a href="#"> <i class="fa fa-facebook"></i> </a>
          <a href="#"> <i class="fa fa-instagram"></i> </a>
          <a href="#"> <i class="fa fa-twitter"></i> </a>
          <a>TutorDevOps@gmail.com</a>
        </div>
      </nav>
    </footer>
  
  
  
  
    

