<nav id="adminnav" class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img
        src="../.././assets/pics/HD logo.png"
        width="40"
        height="40"
        class="d-inline-block align-top"
        alt=""
      />
    </a>
    <span class="TDO" style="color: rgb(0, 156, 158); margin-right: auto"
      >TutorDevOps</span
    >
    <div class="right">
        <a style="color: whitesmoke; margin-right: 3rem;">Home</a>
        
      </div>
    <div class="topnav-right" >
      
       
        <!-- <div [matMenuTriggerFor]="menu"  class="dot" >A</div> -->
    </div>
  </nav>

<p>tutors works!</p>
