<mat-sidenav-container class="sidenav-container">
  <mat-sidenav  style="width: 10rem;background-color: rgb(54, 72, 80);" #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar style="color: white;text-align: center;">Menu</mat-toolbar>
    <mat-nav-list >
    <a style="color: white;font-size: small;" mat-list-item href="#"><i style="font-size: medium;padding: 0.3rem;" class="fa fa-id-card-o" aria-hidden="true"></i>Tutor Application</a>
      <a style="color: white;font-size: small;" mat-list-item href="#"><i style="font-size: medium;padding: 0.3rem;" class="fa fa-user" aria-hidden="true"></i>Tutors</a>
      <a style="color: white;font-size: small;" mat-list-item href="#"><i style="font-size: medium;padding: 0.3rem;" class="fa fa-university" aria-hidden="true"></i>Universities </a>
      <a style="color: white;font-size: small;" mat-list-item href="#"><i style="font-size: medium;padding: 0.3rem;" class="fa fa-file" aria-hidden="true"></i>Subscription</a>
      <a style="color: white;font-size: small;" mat-list-item href="#"><i style="font-size: medium;padding: 0.3rem;" class="fa fa-users" aria-hidden="true"></i>Students</a>
      <a style="color: white;font-size: small;" mat-list-item href="#"><i style="font-size: medium;padding: 0.3rem;" class="fa fa-folder-open" aria-hidden="true"></i>Session Content</a>
      <a style="color: white;font-size: small;" mat-list-item href="#"><i style="font-size: medium;padding: 0.3rem;" class="fa fa-line-chart" aria-hidden="true"></i>Report</a>
      <a style="color: white;font-size: small;" mat-list-item href="#"><i style="font-size: medium;padding: 0.3rem;" class="fa fa-fa-user-circle-o" aria-hidden="true"></i>User Roles</a>
      <a style="color: white;font-size: small;" mat-list-item href="#"><i style="font-size: medium;padding: 0.3rem;" class="fa fa-credit-card" aria-hidden="true"></i>Payments</a>
      <a style="color: white;font-size: small;" mat-list-item href="#"><i style="font-size: medium;padding: 0.3rem;" class="fa fa-folder-open" aria-hidden="true"></i>Session Content</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
   
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
